@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-in {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    60% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.animate-bounce-in {
    animation: bounce-in 0.4s ease-out;
}